privatekey.json
output_images/
algo.docx
demo.mp4
demo-deployed.mp4
area_stats.csv
thresh_values.csv
time_series.csv
images-cycle-16/
images-cycle-17/
images-cycle-18/
images-cycle-19/
images-cycle-20/
images-cycle-21/
images-cycle-22/
output-images-cycle-16/
output-images-cycle-17/
output-images-cycle-18/
output-images-cycle-19/
output-images-cycle-20/
output-images-cycle-21/
output-images-cycle-22/
.streamlit/
*.pyc
*.txt
*.pdf